## Tuple Creation

In [1]:
t = ()

#tuple having integers

t = (1,2,3)
print(t)

t = (1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, 2, 3)
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [2]:
#Only parenthesis is not enough
t = ('satish')
type(t)

str

In [3]:
#Need a comma at the end
t = ("satidh",)
type(t)

tuple

In [4]:
t = "satish",
print(type(t))

<class 'tuple'>

## Accessing Elements in tuple

In [5]:
t = ("Rishav","Sun","Moon","Ram","Shyam")
print(t[1])

Sun

In [6]:
#Negative index
print(t[-1])

Shyam

In [7]:
#Nested tuple
t = ("ABC",("Ram","Naveen","Srinu"))
print(t[1])

('Ram', 'Naveen', 'Srinu')

In [8]:
print(t[1][2])

Srinu

In [9]:
#Slicing
t = (1,2,3,4,5,6)

print(t[1:4])

print(t[:-2])

print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

## Changing a Tuple

In [10]:
t = (1,2,3,4,[5,6,7])

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [11]:
t[4][1] = "Rishav"

In [12]:
print(t)

(1, 2, 3, 4, [5, 'Rishav', 7])

In [13]:
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [14]:
t = (('rishav',) * 4)
print(t)

('rishav', 'rishav', 'rishav', 'rishav')

In [15]:
t = (1,2,3,4,[5,6,7])
print(t)
del t
print(t)

(1, 2, 3, 4, [5, 6, 7])

NameError: name 't' is not defined

## Tuple count

In [16]:
t = (1,2,3,1,3,3,4,1)
t.count(1)

3

## Tuple index

In [17]:
# Tuple index
t.index(4)

6

## Tuple Membership

In [18]:
print(2 in t)

True

In [19]:
print(8 in t)

False

## Built in function

## Tuple Length

In [20]:
print(len(t))

8

## Tuple sort

In [21]:
t = (4,5,1,2,3)

new_t = sorted(t)

print(new_t)

[1, 2, 3, 4, 5]

In [22]:
print(max(t))
print(min(t))
print(sum(t))

5
1
15