## List Creation

In [1]:
emptyList = []

lst = ["one","two","three","four"]

lst2 = [1,2,3,4]

lst3 = [[1,2],[3,4]]

lst4 = [1,'ramu',24,1.24]

print(lst4)

[1, 'ramu', 24, 1.24]

## List Length

In [2]:
len(lst)

4

## List function

In [4]:
lst.append("five")
print(lst)

['one', 'two', 'three', 'four', 'five', 'five']

In [6]:
lst.insert(2,"rishav")
print(lst)

['one', 'two', 'rishav', 'rishav', 'three', 'four', 'five', 'five']

In [8]:
lst.remove("rishav")
print(lst)

['one', 'two', 'three', 'four', 'five', 'five']

In [9]:
lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'five', [1, 2, 3, 4]]

In [11]:
lst = ["one","two","three","four"]

lst2 = [1,2,3,4]

lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 1, 2, 3, 4]

In [12]:
del lst[4]
print(lst)

['one', 'two', 'three', 'four', 2, 3, 4]

In [13]:
a = lst.pop(2)
print(a)
print(lst)

three
['one', 'two', 'four', 2, 3, 4]

In [14]:
lst.remove(2)
print(lst)

['one', 'two', 'four', 3, 4]

## List realted keywords in Python

In [15]:
lst = ["one","two","three","four"]


if 'two' in lst:
    print('AI')
    
if 'six' not in lst:
    print("ML")

AI
ML

In [17]:
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

## List Sorting

In [18]:
numbers = [3,1,6,2,8,4]

In [20]:
sorted_list = sorted(numbers)
print(sorted_list)
print(numbers)

[1, 2, 3, 4, 6, 8]
[3, 1, 6, 2, 8, 4]

In [21]:
print("Reverse :",sorted(numbers,reverse=True))

Reverse : [8, 6, 4, 3, 2, 1]

In [22]:
print(numbers)
numbers.sort()
print(numbers)

[3, 1, 6, 2, 8, 4]
[1, 2, 3, 4, 6, 8]

In [23]:
lst4 = [1,20,'b',5,'a']
print(lst4.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
s = "one,two,three,four,five"
slst = s.split(",")
print(slst)

['one', 'two', 'three', 'four', 'five']

In [25]:
s = "This is applied AI Course"
split_lst = s.split()
print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

## List slicing

In [26]:
numbers = [10,20,30,40,50,60,70,80]

In [28]:
print(numbers[:])

[10, 20, 30, 40, 50, 60, 70, 80]

In [30]:
print(numbers[:4])

[10, 20, 30, 40]

In [31]:
print(numbers[::2]) ##Stepwise

[10, 30, 50, 70]

In [32]:
print(numbers[2::2])

[30, 50, 70]

## List extend using "+"

In [33]:
lst1 = [1,2,3,4]
lst2 = ['rishav','mayank','maa','saumya']

new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 'rishav', 'mayank', 'maa', 'saumya']

## List count

In [37]:
numbers = [10,20,30,10,30,50,60,20,80,50]

In [38]:
print(numbers.count(10))

2

## List Looping

In [39]:
lst = ["one","two","three","four"]

for ele in lst:
    print(ele)

one
two
three
four

## List Comprehensions

In [40]:
squares = []
for i in range(10):
    squares.append(i**2)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
lst = [-10,-20,10,20,50]

new_lst = [i*2 for i in lst]
print(new_lst)

[-20, -40, 20, 40, 100]

In [43]:
new_lst = [i for i in lst if i>=10]
print(new_lst)

[10, 20, 50]

In [44]:
new_lst = [(i,i**2) for i in range(10)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

## Nested List Comprehensions

In [45]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [46]:
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]